/* USER VARIABLES SECTION */

:root {
  --accent: #513359;
  --text: #000;
  --white: #ffffff;
  --gold: #f0e3ce;
  --regular-text: 18px;
  --lineheight: 1.5;
  --userfont: gotham-pro, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* FONTS LOAD SECTION */

@font-face {
  src: url("../fonts/gothampro-light.woff2") format("woff2");
  font-family: "gotham-pro";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url("../fonts/gothampro.woff2") format("woff2");
  font-family: "gotham-pro";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/gothampro-medium.woff2") format("woff2");
  font-family: "gotham-pro";
  font-weight: 500;
  font-style: italic;
}
@font-face {
  src: url("../fonts/gothampro-bold.woff2") format("woff2");
  font-family: "gotham-pro";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("../fonts/BerlingskeSerif-Regular.woff2") format("woff2");
  font-family: "berlingske";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/BerlingskeSerif-Md.woff2") format("woff2");
  font-family: "berlingske";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url("../fonts/BerlingskeSerif-SemiBold.woff2") format("woff2");
  font-family: "berlingske";
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url("../fonts/BerlingskeSerif-Bold.woff2") format("woff2");
  font-family: "berlingske";
  font-weight: 700;
  font-style: normal;
}

/* GENERAL CSS SETTINGS */

::placeholder {
  color: #8f96a2;
  font-size: 16px;
  font-family: var(--userfont);
}
::selection {
  background-color: var(--accent);
  color: #fff;
}
input,
textarea {
  outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid,
textarea:required:valid {
  border-color: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: var(--userfont);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
  font-weight: 400;
  color: var(--text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}
.container {
  max-width: 1520px;
  padding: 0 15px;
  margin: 0 auto;
}

/* THEME FONTS SIZE */
.xl-title {
  font-size: 52px;
  font-weight: 400;
  margin: 0;
}
.lg-title {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}
.md-title {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}
.sm-title {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.xl-text {
  font-size: 24px;
}
.lg-text {
  font-size: 20px;
}
.md-text {
  font-size: 18px;
}
.sm-text {
  font-size: 16px;
}

/* USER STYLES */

.image {
  max-width: 100%;
  height: auto;
}
.title-color {
  color: #5f264f;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99;
  background-color: var(--accent);
  padding: 14px 0;
}
.header__inner {
  display: flex;
}
.header__inner .logotype {
  margin-right: 60px;
}
.content {
  position: relative;
  margin-top: 92px;
}
.logotype {
  max-width: 105px;
  height: auto;
}
.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav.show {
  top: 0;
}
.main-nav__item {
  position: relative;
  margin: 0 25px;
}
.main-nav__item:first-child {
  margin-left: 0;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__link {
  position: relative;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.main-nav__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  opacity: 0;
}
/*.main-nav__link.active::after {
  opacity: 1;
}*/
.banner {
  position: relative;
  overflow: hidden;
}
.banner-slider__slide {
  position: relative;
  background-size: cover;
  height: 650px;
}
.banner .banner-text {
  position: absolute;
  bottom: 170px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}
.banner-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 140%;
  width: 44%;
  background: rgba(240, 227, 206, 0.77);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.banner-text__inner {
  max-width: 40%;
}
.banner-text__title {
  font-family: berlingske, sans-serif;
  line-height: 1.1;
  display: block;
  margin: 0 0 24px 0;
  font-weight: 700;
}
.banner-text__description {
  line-height: 1;
  margin: 0 0 32px;
  font-weight: 300;
}
.btn {
  display: inline-block;
  position: relative;
  font-family: var(--userfont);
  background-color: var(--accent);
  color: var(--white);
  padding: 14px 28px;
  text-decoration: none;
  z-index: 1;
  border: none;
  cursor: pointer;
}
.btn::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: var(--text);
  z-index: -1;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.btn:hover::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}
.hamburger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
  z-index: 99;
}
.hamburger__inner {
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--white);
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}
.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}
.hamburger__inner::before {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.hamburger__inner::after {
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}
.hamburger.active .hamburger__inner {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  background-color: transparent;
}
.hamburger.active .hamburger__inner::before {
  transform: rotate(45deg) translate(35px, -35px);
  -webkit-transform: rotate(45deg) translate(35px, -35px);
  -moz-transform: rotate(45deg) translate(35px, -35px);
  -ms-transform: rotate(45deg) translate(35px, -35px);
  -o-transform: rotate(45deg) translate(35px, -35px);
}
.hamburger.active .hamburger__inner::after {
  transform: rotate(-45deg) translate(35px, 35px);
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
  -moz-transform: rotate(-45deg) translate(35px, 35px);
  -ms-transform: rotate(-45deg) translate(35px, 35px);
  -o-transform: rotate(-45deg) translate(35px, 35px);
}
.section {
  position: relative;
}
.section-padding-50 {
  padding: 50px 0;
}
.section-padding-100 {
  padding: 100px 0;
}
.section-padding-top-0 {
  padding-top: 0 !important;
}
.section-title {
  font-family: berlingske, sans-serif;
  font-weight: 700;
  margin-bottom: 26px;
}
.advantages-section {
  overflow: hidden;
  color: var(--white);
  box-shadow: 0px 11px 23px rgba(127, 43, 150, 0.34);
}
.advantages-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102%;
  background-image: url(../images/icons/icon-bg2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages-list {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}
.advantages-item {
  position: relative;
  display: flex;
}
.advantages-item__icon {
  display: block;
  width: 26px;
  height: 26px;
  flex: 0 0 26px;
  margin-top: 4px;
  margin-right: 12px;
}
.advantages-item__title {
  margin: 0 0 5px;
}
.advantages-item__description {
  line-height: 18px;
  color: var(--gold);
}
.about-section__text p {
  margin-bottom: 30px;
  font-weight: 300;
}
.about-section__text p:last-child {
  margin-bottom: 0;
}
.gallery-slider__content {
  position: absolute;
  bottom: 48px;
  left: 0;
  color: var(--white);
  width: 100%;
  height: auto;
}
.gallery-slider__slide {
  position: relative;
  height: 622px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
.gallery-slider__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: -2;
}
.gallery-slider__title {
  margin-bottom: 12px;
}
.gallery-slider__text {
  line-height: 30px;
}
.gallery-slider__num {
  font-family: "berlingske", sans-serif;
  font-style: italic;
  opacity: 0.28;
  font-size: 608px;
  line-height: 0.45;
  position: absolute;
  bottom: 0;
  left: -90px;
  width: 100%;
  height: auto;
  z-index: -1;
}
.swiper-button-prev,
.swiper-button-next {
  width: 76px;
  height: 76px;
  background-color: rgba(255, 255, 255, 0.28);
  box-shadow: 0px 3.27384px 6.54769px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--accent);
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: var(--white);
  font-size: 32px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 50px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 50px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: unset;
  top: 50px;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--white);
  opacity: 0.4;
  margin: 0 7px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.collector-section__inner {
  position: relative;
}
.collector-section__inner .collector-section__text {
  max-width: 60%;
  padding-right: 100px;
}
.collector-section__inner .collector-section__images {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 40%;
}
.collector-section__inner .collector-section__images img[data-img="1"] {
  max-height: 375px;
}
.collector-section__inner .collector-section__images img[data-img="2"] {
  position: absolute;
  bottom: -40px;
  left: -60px;
  width: 50%;
  height: 50%;
}
.collector-section__inner .collector-section__images img[data-img="3"] {
  position: absolute;
  top: -80px;
  right: 40px;
  width: 30%;
  height: 68%;
}
.collector-section__images img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.collector-section__text p {
  font-weight: 300;
}
.collector-section__text p:not(:last-child) {
  margin-bottom: 30px;
}
.collector-section__button {
  margin-top: 60px;
}
.events-section {
  background-color: var(--gold);
}
.events-section__inner {
  display: flex;
}
.events-section__inner .events-section__image {
  flex: 0 0 34%;
  padding-right: 30px;
}
.events-section__inner .events-section__text {
  flex: 1%;
}
.events-section__text p {
  font-weight: 300;
}
.events-section__text p:not(:last-child) {
  margin-bottom: 30px;
}
.events-section__text .section-title {
  margin-bottom: 6px;
}
.partners-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}
.partners-item {
  display: block;
  font-size: 0;
}
.partners-item img {
  width: 100%;
  height: auto;
}
.contacts-section .section-title {
  margin-bottom: 34px;
}
.contacts-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts-list__label {
  font-weight: bold !important;
  margin-bottom: 12px;
}
.contacts-list__text,
.contacts-list a,
.contacts-list span {
  display: block;
  font-weight: 300;
  text-decoration: none;
  color: var(--text);
}
.contacts-section .map {
  margin-top: 36px;
}
.footer {
  position: relative;
  padding: 40px 15px;
  background-color: var(--accent);
}
.copyright {
  color: var(--white);
  text-align: center;
}
.to-top {
  position: fixed;
  right: -100%;
  bottom: 30px;
  background-color: var(--accent);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: right 0.6s ease-in-out;
  -webkit-transition: right 0.6s ease-in-out;
  -moz-transition: right 0.6s ease-in-out;
  -ms-transition: right 0.6s ease-in-out;
  -o-transition: right 0.6s ease-in-out;
  opacity: 0.5;
  z-index: 12;
}
.to-top:hover {
  opacity: 1;
}
.to-top.active {
  right: 15px;
}
.to-top svg {
  width: 32px;
  fill: var(--white);
}

.modal {
  font-family: var(--userfont);
  position: relative;
  z-index: 99;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 26px 30px 50px;
  max-width: 720px;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0px 6px 27px rgba(150, 150, 150, 0.25);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 26px;
  right: 30px;
  background-color: transparent;
  background-image: url(../images/icons/close.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center center;
  border: none;
  cursor: pointer;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.form {
  position: relative;
}
.form-input {
  position: relative;
  margin-bottom: 30px;
}
.form-input input {
  width: 100%;
  height: 56px;
  padding: 13px 12px 10px;
  border: 1px solid rgba(38, 50, 56, 0.16);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.form-input label {
  position: absolute;
  top: -10px;
  left: 12px;
  font-size: 14px;
  background-color: var(--white);
  padding: 0 3px;
}
.popup-form .form-input input {
  min-width: 640px;
}
.modal .section-title {
  margin-bottom: 44px;
}
